.todoContainer{
    display: flex;
    justify-content: center;
    min-width: 600px;
    padding: 10px;
    height: 90vh;
    top:5vh;
    position: relative;
    border-radius: 9px;
background: linear-gradient(145deg, #29232a, #221e23);
box-shadow:  8px 8px 12px #141114,
             -8px -8px 12px #38313a;
}

.todoContainer::before,
.todoContainer::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    border-radius: inherit;
    background: inherit;
    box-shadow:  8px 8px 12px #141114,
             -8px -8px 12px #38313a,
             inset 8px 8px 12px #141114,
             inset -8px -8px 12px #38313a;
    animation: wave 3s linear infinite;
    opacity: 0;
}

.todoContainer::after{
    animation-delay: 0.8s;
}

@keyframes wave{
    0%{
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    50%{
        width: 120%;
        height: 140%;
        opacity: 1;
    }
    100%{
        width: 140%;
        height: 160%;
        opacity: 0;
    }
    
    
}

.blurBackground {
    filter: blur(3px);
  }  

.todoBody{
    z-index: 100000;
    height: 90vh;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    border-radius: 41px;
    background: #7B0707;
    box-shadow: inset 7px 7px 13px #560505,
                inset -7px -7px 13px #a00909;
  }
  
  .toggle-state {
    display: none;
  }
  
  .indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;        border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }
  
  .toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
  }

.itemListContainer{
    overflow-y: auto;
    height: 59vh;
    overflow-x: hidden;
    width: 90%;
    padding: 20px;
}

.itemListContainer::-webkit-scrollbar {
    width: 10px;
  }
  
  .itemListContainer::-webkit-scrollbar-track {
    border-radius: 31px;
    background: #b80000;
    box-shadow: inset 50px 50px 100px #1e1a1f,
                inset -50px -50px 100px #2e2831;
  }
  
  .itemListContainer::-webkit-scrollbar-thumb {
    background: #b80000;
    border-radius: 31px;
  }
  
  .itemListContainer::-webkit-scrollbar-thumb:hover {
    background: #790101;border-radius: 31px;
  }

.title{
    font-size: 3rem;
}

.title h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .title h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .title h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }
  
.info{
    display: flex;
    justify-content: center;
}

.addButton{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 86%;
    left: 90%;
    color:#F7253C;
    border-radius: 18px;
    background: #262127;
    box-shadow: inset 16px 16px 69px #181418,
                inset -16px -16px 69px #342e36;
}

.itemContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    background: linear-gradient(145deg, #29232a, #221e23);
    box-shadow:  5px 5px 10px #1d191e,
                 -5px -5px 10px #2f2930;
    width: 100%;
}

li{
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    left: -10px;
}

.itemList{
    width:100%;
    position: relative;
    left: -40px;
}

.itemTitle{
    font-size: 2rem;
    min-width: 80%;
    position: relative;
    bottom: 6px;
    margin-left: 10px;
    font-weight: bold;
}

.itemButtonDiv{
    display: flex;
    align-items: center;
    min-width: 20%;
    padding-right: 10px;
}

.addForm{
    border-radius: 28px;
    background: linear-gradient(145deg, #29232a, #221e23);
    box-shadow:  5px 5px 14px #0f0d10,
                 -5px -5px 14px #0f0d10;
}

.buttonCheck{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 30px;
}

.addText{
    width: 90%;
    border-radius: 15px;
    background: #262027;
    box-shadow: inset 50px 50px 100px #1e191e,
                inset -50px -50px 100px #2e2730;
                color: white;
}

.addText::placeholder {
    color: white;
    padding: 10px;
  }

  form{
    border-radius: 36px;
    background: linear-gradient(130deg, #161316,#221e23, #221e23);
    box-shadow: inset 7px 7px 14px #1c181c,
                inset -7px -7px 14px #302a32;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      border-radius: 16px;
    
      padding: 50px 35px;
      z-index: 10000;
    }
  
    form *{
      font-family: 'Poppins',sans-serif;
      letter-spacing: 0.5px;
      outline: none;
      border: none;
  }
  
  form h3{
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
  }
  
  label{
      display: block;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 500;
  }
  
  input{
      display: block;
      height: 50px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.877);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;
  }
  
  ::placeholder{
      color: #000000;
  }
  
  button{
      margin-top: 50px;
      width: 100%;
      background-color: #ffffff;
      color: #080710;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .social{
    margin-top: 30px;
    display: flex;
  }
  
  .social div{
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
  }
  
  .social div:hover{
    background-color: rgba(255,255,255,0.47);
  }
  
  .social .fb{
    margin-left: 25px;
  }
  
  .social i{
    margin-right: 4px;
  }
  

  @media screen and (min-width: 1200px) {
    .todoContainer{
        display: flex;
        justify-content: center;
        width: 500px;
        height: 90vh;
        top:5vh;
        position: relative;
        border-radius: 9px;
    background: linear-gradient(145deg, #29232a, #221e23);
    box-shadow:  8px 8px 12px #141114,
                 -8px -8px 12px #38313a;
    }
  }

  @media screen and (max-width: 700px) {
    body{
        overflow: hidden;
    }
    
    .todoContainer{
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 90vh;
        top:5vh;
        position: relative;
        border-radius: 9px;
        background: linear-gradient(145deg, #29232a, #221e23);
        box-shadow:  8px 8px 12px #141114,
                    -8px -8px 12px #38313a;
    }

    .addButton{
        width: 50px;
        height: 50px;
        position: fixed;
        top: 85%;
        left: 82%;
        color:#F7253C;
        border-radius: 18px;
        background: #262127;
        box-shadow: inset 16px 16px 69px #181418,
                    inset -16px -16px 69px #342e36;
    }

    .itemListContainer::-webkit-scrollbar {
        width: 0px;
      }
      
      .itemListContainer::-webkit-scrollbar-track {
        border-radius: 31px;
        background: #b80000;
        box-shadow: inset 50px 50px 100px #1e1a1f,
                    inset -50px -50px 100px #2e2831;
      }
      
      .itemListContainer::-webkit-scrollbar-thumb {
        background: #b80000;
        border-radius: 31px;
      }
      
      .itemListContainer::-webkit-scrollbar-thumb:hover {
        background: #790101;border-radius: 31px;
      }
    
      .todoBody{
        border-radius: 15px;
        background: linear-gradient(145deg, #282229, #211d22);
        box-shadow:  14px 14px 28px #151216,
                    -14px -14px 28px #352e36;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
        height: 88vh;
      }

        
    .itemContainer{
        padding: 10px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        border-radius: 18px;
        background: linear-gradient(145deg, #29232a, #221e23);
        box-shadow:  5px 5px 10px #1d191e,
                     -5px -5px 10px #2f2930;
        width: 97%;
    }

      .toggle {
        isolation: isolate;
        position: relative;
        height: 30px;
        width: 60px;
        border-radius: 15px;
        overflow: hidden;
        border-radius: 41px;
        background: #7B0707;
        box-shadow: inset 7px 7px 13px #560505,
                    inset -7px -7px 13px #a00909;
      }
      
      .toggle-state {
        display: none;
      }
      
      .indicator {
        height: 100%;
        width: 200%;
        background: #ecf0f3;        border-radius: 15px;
        transform: translate3d(-75%, 0, 0);
        transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
      }
      
      .toggle-state:checked ~ .indicator {
        transform: translate3d(25%, 0, 0);
      }
  }

  @media screen and (max-width: 600px) {
    .todoContainer{
        display: flex;
        justify-content: center;
        min-width: 10%;
        height: 100vh;
        top:1vh;
        position: relative;
        border-radius: 9px;
    background: linear-gradient(145deg, #29232a, #221e23);
    box-shadow:  8px 8px 12px #141114,
                 -8px -8px 12px #38313a;
    }

    .title{
        font-size: 2rem;
    }
    
    .title h1 {
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5px;
      }
      .title h1:before {
        width: 28px;
        height: 5px;
        display: block;
        content: "";
        position: absolute;
        bottom: 3px;
        left: 50%;
        margin-left: -14px;
        background-color: #b80000;
      }
      .title h1:after {
        width: 100px;
        height: 1px;
        display: block;
        content: "";
        position: relative;
        margin-top: 25px;
        left: 50%;
        margin-left: -50px;
        background-color: #b80000;
      }

      .addButton{
        width: 50px;
        height: 50px;
        position: fixed;
        top: 84%;
        left: 82%;
        color:#F7253C;
        border-radius: 18px;
        background: #262127;
        box-shadow: inset 16px 16px 69px #181418,
                    inset -16px -16px 69px #342e36;
    }

    .itemListContainer::-webkit-scrollbar {
        width: 0px;
      }
      
      .itemListContainer::-webkit-scrollbar-track {
        border-radius: 31px;
        background: #b80000;
        box-shadow: inset 50px 50px 100px #1e1a1f,
                    inset -50px -50px 100px #2e2831;
      }
      
      .itemListContainer::-webkit-scrollbar-thumb {
        background: #b80000;
        border-radius: 31px;
      }
      
      .itemListContainer::-webkit-scrollbar-thumb:hover {
        background: #790101;border-radius: 31px;
      }
    
      .todoBody{
        border-radius: 15px;
        background: linear-gradient(145deg, #282229, #211d22);
        box-shadow:  14px 14px 28px #151216,
                    -14px -14px 28px #352e36;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
        height: 88vh;
      }

        
    .itemContainer{
        padding: 10px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        border-radius: 18px;
        background: linear-gradient(145deg, #29232a, #221e23);
        box-shadow:  5px 5px 10px #1d191e,
                     -5px -5px 10px #2f2930;
        width: 97%;
    }

      .toggle {
        isolation: isolate;
        position: relative;
        height: 30px;
        width: 60px;
        border-radius: 15px;
        overflow: hidden;
        border-radius: 41px;
        background: #7B0707;
        box-shadow: inset 7px 7px 13px #560505,
                    inset -7px -7px 13px #a00909;
      }
      
      .toggle-state {
        display: none;
      }
      
      .indicator {
        height: 100%;
        width: 200%;
        background: #ecf0f3;        border-radius: 15px;
        transform: translate3d(-75%, 0, 0);
        transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
      }
      
      .toggle-state:checked ~ .indicator {
        transform: translate3d(25%, 0, 0);
      }
      
  }